---
---
@import "portfolYOU";

@media(prefers-color-scheme: dark) {
	html {
  		filter: invert(1) hue-rotate(180deg);
	}

	img, picture, video {
	  filter: invert(1) hue-rotate(180deg);
	}

	[class="invert"] {
	  filter: invert(1) hue-rotate(180deg)
	}
} 